<% if likes.empty? %>
  <p>いいねした投稿はありません。</p>
<% else %>
  <% likes.each do |like| %>
    <div class="chat chat-start">
        <div class="chat-header">
            <%= like.user.name %>
              <% if like.user.is_private %>
                  <i class="fa-solid fa-lock"></i>
              <% end %>
            <time class="text-xs opacity-50"><%= like.created_at %></time>
        </div>
        <div class="chat-bubble">
            <%= like.content %>
            <figure>
                <%= image_tag like.image.url if like.image.present? %>
            </figure>
        </div>
        <div class="chat-footer opacity-50">
            <%= render "shared/like_buttons", {post: like} %>
        </div>
    </div>
      <% end %>
<% end %>