<div class="card bg-base-100 w-96 shadow-xl">
  <div class="card-body">
    <div class="flex justify-between">
    <div>
        <h2 class="card-title"><%= @user.name %></h2>
        </div>
        <div>
          <% if @user == current_user %>
            <%= button_to edit_profile_path(@user), method: :get, class:"btn btn-primary" do %>
                編集
            <% end %>
          <% else %>
            <% if current_user.following?(@user) %>
              <%= button_to follow_path(id: @user.id), method: :delete, class:"btn btn-primary" do %>
                フォロー中
              <% end %>
            <% else %>
              <%= button_to follows_path(id: @user.id), method: :post, class:"btn btn-primary" do %>
                フォロー
              <% end %>
            <% end %>
          <% end %>
        </div>
    </div>
    <p><%= @user.profile %></p>
    <div class="flex">
      <div class="flex-1">
        <p>
            フォロー：<%= @user.following.count %>
        </p>
      </div>
      <div class="flex-1">
        <p>
            フォロワー：<%= @user.followers.count %>
        </p>
      </div>
    </div>
  </div>
  <%= render "posts_or_likes_or_checkins" %>
</div>