<%= link_to posts_path, class: "#{"active" if controller_name == "posts"}" do %>
    <i class="fa-solid fa-house fa-2x" style="color: white;"></i>
    <p class="text-gray-100">投稿</p>
<% end %>
<%= link_to notifications_path, class: "#{"active" if controller_name == "notifications"}" do %>
    <% if current_user.unread_notifications_count == 0 %>
        <i class="fa-solid fa-bell fa-2x" style="color: white;"></i>
        <p class="text-gray-100">通知</p>
    <% else %>
        <i class="fa-solid fa-bell fa-2x" style="color: white;">
        <span class="notification-count">
            <%= current_user.unread_notifications_count %>
        </span>
        </i>
        <p class="text-gray-100">通知</p>
    <% end %>
<% end %>
<%= link_to searchs_path, class: "#{"active" if controller_name == "searchs"}" do %>
    <i class="fa-solid fa-magnifying-glass fa-2x" style="color: white;"></i>
    <p class="text-gray-100">検索</p>
<% end %>
<%= link_to now_location_destinations_path,class: "#{"active" if controller_name == "destinations" }" do %>
    <i class="fa-solid fa-train-subway fa-2x" style="color: white;"></i>
    <p class="text-gray-100">駅を探す</p>
<% end %>
<%= link_to profile_path(current_user.id),class: "#{"active" if controller_name == "profiles" && params[:profile_id] == current_user.id }" do %>
    <i class="fa-solid fa-user fa-2x" style="color: white;"></i>
    <p class="text-gray-100">マイページ</p>
<% end %>