<div class="navbar bg-base-100">
  <div class="navbar-start">
    <%= image_tag "logo.png" %>
  </div>

  <div class="navbar-end">
    <div class="dropdown dropdown-bottom dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
        <i class="fa-solid fa-bars fa-3x"></i>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
        <li>
          <p class="text-white font-bold">
            <%= link_to "利用規約", "https://www.kiyac.app/termsOfService/HmBs6t7xeY2K6VB1M3Gw", target: :_blank %>
          </p>
        </li>
        <li>
          <p class="text-white font-bold">
            <%= link_to "プライバシー・ポリシー", "https://www.kiyac.app/privacypolicy/dt2fiymb6hXhbcEMwwKX", target: :blank %>
          </p>
        </li>
        <div class="divider"></div>
        <% if user_signed_in? %>
            <li>
                <%= button_to destroy_user_session_path, method: :delete do %>
                  <p class="text-white font-bold">
                    ログアウト
                  </p>
                <% end %>
            </li>
        <% else %>
            <li>
              <p class="text-white font-bold">
                <%= link_to "ログイン", new_user_session_path %>
              </p>
            </li>
        <% end %>
        <div class="divider"></div>
        <li>
          <div class="flex justify-center">
            <%= link_to "https://x.com/sakupimskk" do %>
              <i class="fa-brands fa-square-x-twitter fa-2x"></i>
            <% end %>
            <%= link_to "https://github.com/mskk0803/station_shuffle" do %>
              <i class="fa-brands fa-github fa-2x"></i>
            <% end %>
          </div>
        </li>
        <div class="divider"></div>
        <li>
          <div class="flex justify-center">
            <p class="text-white">
              &copy; 2025 sakupi
            </p>
          </div>
        </li>

      </ul>
    </div>
  </div>
</div>