<div class="chat chat-start">
    <div class="chat-header">
        <%= link_to profile_path(post.user.id), data: {turbo: false} do %>
            <%= post.user.name %>
            <% if post.user.is_private %>
                <i class="fa-solid fa-lock"></i>
            <% end %>
        <% end %>
        <time class="text-xs opacity-50">
            <%= post.created_at.strftime("%Y-%m-%d %H:%M") %>
        </time>
    </div>
    <div class="chat-bubble chat-bubble-secondary text-black border border-black-2">
        <% if post.station.present? %>
            <p class="break-words">
                <%= post.station %>に到着!
            </p>
            <div class="divider my-1"></div>
        <% end %>
        <p class="break-words">
            <%= post.content %>
        </p>
        <figure>
            <%= image_tag post.image.url if post.image.present? %>
        </figure>
    </div>
    <div class="chat-footer opacity-50">
        <%= render "shared/like_buttons", {post: post} %>
    </div>
</div>