<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<% @posts.each do |post| %>
    <%= post.user.name %>
    <%= post.content %>
    <%= button_to 'delete', post_path(post), method: :delete %>
    <%= render "like_buttons", {post: post} %>
<% end %>

<%= link_to 'New Post', new_post_path %>


<%= button_to 'Sign Out', destroy_user_session_path, method: :delete %>