<div class="sticky top-[64px] z-30 bg-white">
  <div class="flex justify-center flex-col p-4">
    <h1 class="text-3xl font-bold text-center text-gray-800">
      移動中…
    </h1>
  </div>
</div>

<div class="flex justify-center">
  <div data-controller="moves" class="w-full max-w-md p-6 rounded-box shadow space-y-4 bg-white">
    
    <div class="text-center">
      <p class="text-lg font-semibold text-gray-700">
        <%= @decide_station["name"] %> まで<%= @distance.round(2) %>km！
      </p>
    </div>

    <div class="w-full h-64 rounded-lg border" id="map" data-moves-target="map"></div>

    <%= form_with scope: @location, url: move_destinations_path, method: :post, local: true,  data: { turbo: false } do |f| %>
      <%= f.hidden_field :latitude, data: { moves_target: "currentLat" } %>
      <%= f.hidden_field :longitude, data: { moves_target: "currentLon" } %>
      <%= f.submit "チェックイン可能か確認", class: "btn btn-primary w-full mt-4 text-white" %>
    <% end %>

    <!-- hidden inputs for JS -->
    <input type="hidden" value="<%= @decide_station["latitude"] %>" data-moves-target="stationLat"/>
    <input type="hidden" value="<%= @decide_station["longitude"] %>" data-moves-target="stationLon"/>
    <input type="hidden" value="<%= @decide_station["name"] %>" data-moves-target="name"/>

    <!-- 戻るボタン -->
    <div class="mt-4">
      <%= button_to "戻る", suggest_station_destinations_path, method: :get, class: "btn btn-sm btn-ghost text-gray-500" %>
    </div>
  </div>
</div>

