

<%=  @decide_station["name"] %>まで
移動中…！

<div data-controller="destinations">
現在地
<%= form_with scope: @location, url: move_destinations_path, method: :post, local: true do |f| %>
  <div>
    <%= f.label :latitude %>
    <%= f.text_field :latitude, data: { destinations_target: "latitude" } %>
  </div>

  <div>
    <%= f.label :longitude %>
    <%= f.text_field :longitude, data: { destinations_target: "longitude" } %>
  </div>

  <%= f.submit "チェックイン可能か確認" %>
<% end %>