<%
=begin%>
 <%= search_form_for @q, url: searchs_path do |f| %>
  <%= f.label :name_cont %>
  <%= f.search_field :name_or_posts_content_cont %>
  <%= f.submit %>
<% end %>

<% @users.each do |user|%>
  <%= user.name %>
  <%= user.posts.each do |post| %>
    <%= post.content %>
  <% end %>

<% end %> 
<%
=end%>

<%= form_with url: searchs_path, method: :get do |f| %>
  <%= f.text_field :search %>
  <%= f.submit "Search" %>
<% end %>

<% @users.each do |user| %>
  <div class="user">
    <h2><%= user.name %></h2>
    <p><%= user.profile %></p>
  </div>
<% end %>

<% @posts.each do |post| %>
  <div class="post">
    <h3><%= post.user.name %></h3>
    <p><%= post.content %></p>
  </div>
<% end %>