<%= search_form_for @q_users, url: searchs_path, method: :get do |f| %>
  <%= f.label :name_cont, "ユーザー検索" %>
  <%= f.search_field :name_cont %>
  <%= f.submit "検索" %>
<% end %>

<%= search_form_for @q_posts, url: searchs_path, method: :get do |f| %>
  <%= f.label :content_cont, "投稿検索" %>
  <%= f.search_field :content_cont %>
  <%= f.submit "検索" %>
<% end %>

<h2>ユーザー結果</h2>
<% @users.each do |user| %>
  <p><%= link_to user.name,"#" %></p>
<% end %>

<h2>投稿結果</h2>
<% @posts.each do |post| %>
  <p><%= post.content %> - <%= post.user.name %></p>
<% end %>